name: Build Android APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Install Expo & EAS
        run: |
          npm install -g expo-cli
          npm install -g eas-cli

      - name: Expo Prebuild
        run: npx expo prebuild

      - name: Build APK
        run: npx eas build -p android --non-interactive --no-wait
